{% extends base %}


{% block content %}
    <h2 style="font-family: Courier; margin-left: 500px;margin-top: 100px;"> Some of our movies</h2>
    <div class="row">
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Directed by</th>
                        <th>Release Year</th>
                        <th>Category</th>

                    </tr>
                </thead>
                <tbody>
                    {% for movie in movies %}
                        <tr vocab="http://schema.org/" typeof="Movie" class="h-movie">
                            <td  onclick="window.location={% url 'edit' %} + '{{ movie.title }}' " property="title" class="p-movie-title">
                                {{ movie.title }}
                            </td>
                            <td  onclick="window.location={% url 'edit' %} + '{{ movie.title }}' " property="director" class="p-movie-director">
                                {{ movie.director }}
                            </td>
                            <td  onclick="window.location={% url 'edit' %} + '{{ movie.title }}' " property="release_year" class="p-movie-release-year">
                                {{ movie.release_year }}
                            </td>
                            <td  onclick="window.location={% url 'edit' %} + '{{ movie.title }}' " property="category" class="p-movie-category">
                                {{ movie.listed_in }}
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
    </div>
{% endblock %}


